@font-face {
    font-family: 'SharpSansNo1-Bold';
    src: url('../../fonts/SharpSansNo1-Bold.woff');
}

@font-face {
    font-family: 'SharpSansNo1-BoldItalic';
    src: url('../../fonts/SharpSansNo1-BoldItalic.woff');
}

@font-face {
    font-family: 'SharpSansNo1-Semibold';
    src: url('../../fonts/SharpSansNo1-Semibold.woff');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../../fonts/proximanova-regular-webfont.woff');
}

@font-face {
    font-family: 'SharpSansNo1-Medium';
    src: url('../../fonts//SharpSansNo1Medium-Regular.woff');
}



